<a href="https://colab.research.google.com/github/fachiny17/machine_learning/blob/main/deeptech_program_cohort1/mentorship_session/01_mentorship_assignment_intro_to_data_analytics_and_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Assignment Title: Health and Lifestyle Data Analysis**

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
url = "https://raw.githubusercontent.com/fachiny17/machine_learning/refs/heads/main/deeptech_program_cohort1/mentorship_session/health_lifestyle_dataset.csv"
data = pd.read_csv(url)

In [16]:
data.head()

,id,age,gender,bmi,daily_steps,sleep_hours,water_intake_l,calories_consumed,smoker,alcohol,resting_hr,systolic_bp,diastolic_bp,cholesterol,family_history,disease_risk
0,1,56,Male,20.5,4198,3.9,3.4,1602,0,0,97,161,111,240,0,0
1,2,69,Female,33.3,14359,9.0,4.7,2346,0,1,68,116,65,207,0,0
2,3,46,Male,31.6,1817,6.6,4.2,1643,0,1,90,123,99,296,0,0
3,4,32,Female,38.2,15772,3.6,2.0,2460,0,0,71,165,95,175,0,0
4,5,60,Female,33.6,6037,3.8,4.0,3756,0,1,98,139,61,294,0,0

In [20]:
# check for missing values
print(data.isnull().sum())

id                   0
age                  0
gender               0
bmi                  0
daily_steps          0
sleep_hours          0
water_intake_l       0
calories_consumed    0
smoker               0
alcohol              0
resting_hr           0
systolic_bp          0
diastolic_bp         0
cholesterol          0
family_history       0
disease_risk         0
dtype: int64

### Find the highest and lowest daily steps

In [17]:
# Highest daily steps
hds = data['daily_steps'].max()
print(f"Highest daily steps: {hds}")

# Lowest daily steps
lds = data['daily_steps'].min()
print(f"Lowest daily steps: {lds}")

Highest daily steps: 19999
Lowest daily steps: 1000

In [18]:
# Details of hughest and lowest daily steps
hds_details = data[data['daily_steps'] == hds]
print("Details of the highest daily steps:")
print(hds_details)

lds_details = data[data['daily_steps'] == lds]
print("\nDetails of the lowest daily steps:")
print(lds_details)

Details of the highest daily steps:
          id  age gender   bmi  daily_steps  sleep_hours  water_intake_l  \
11030  11031   33   Male  19.1        19999          7.5             2.9
89086  89087   65   Male  18.4        19999          8.3             3.8
97548  97549   56   Male  19.6        19999          5.4             2.1

       calories_consumed  smoker  alcohol  resting_hr  systolic_bp  \
11030               1735       0        1          88          156
89086               2149       0        0          95          102
97548               1814       0        0          96           93

       diastolic_bp  cholesterol  family_history  disease_risk
11030            86          289               1             0
89086           118          205               0             1
97548           108          184               1             0

Details of the lowest daily steps:
          id  age  gender   bmi  daily_steps  sleep_hours  water_intake_l  \
10963  10964   26    Male  22.8         1000          9.9             1.8
14778  14779   50  Female  33.6         1000          6.2             3.5
30446  30447   39  Female  32.6         1000          8.6             1.7
36370  36371   30  Female  36.3         1000          3.4             3.0
63504  63505   74  Female  27.6         1000          8.6             0.6

       calories_consumed  smoker  alcohol  resting_hr  systolic_bp  \
10963               2080       0        0          51          116
14778               2802       0        1          83           97
30446               2256       0        0          59          112
36370               3274       1        1          71          124
63504               3328       0        1          60           92

       diastolic_bp  cholesterol  family_history  disease_risk
10963           118          251               0             0
14778            96          212               1             0
30446           116          298               0             1
36370            89          194               1             0
63504            99          270               0             0