<a href="https://colab.research.google.com/github/fachiny17/machine_learning/blob/main/deeptech_program_cohort1/mentorship_session/01_mentorship_assignment_intro_to_data_analytics_and_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Assignment Title: Health and Lifestyle Data Analysis**

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
url = "https://raw.githubusercontent.com/fachiny17/machine_learning/refs/heads/main/deeptech_program_cohort1/mentorship_session/health_lifestyle_dataset.csv"
data = pd.read_csv(url)

In [4]:
data.head()

,id,age,gender,bmi,daily_steps,sleep_hours,water_intake_l,calories_consumed,smoker,alcohol,resting_hr,systolic_bp,diastolic_bp,cholesterol,family_history,disease_risk
0,1,56,Male,20.5,4198,3.9,3.4,1602,0,0,97,161,111,240,0,0
1,2,69,Female,33.3,14359,9.0,4.7,2346,0,1,68,116,65,207,0,0
2,3,46,Male,31.6,1817,6.6,4.2,1643,0,1,90,123,99,296,0,0
3,4,32,Female,38.2,15772,3.6,2.0,2460,0,0,71,165,95,175,0,0
4,5,60,Female,33.6,6037,3.8,4.0,3756,0,1,98,139,61,294,0,0

In [6]:
# check for missing values
print(data.isnull().sum())

id                   0
age                  0
gender               0
bmi                  0
daily_steps          0
sleep_hours          0
water_intake_l       0
calories_consumed    0
smoker               0
alcohol              0
resting_hr           0
systolic_bp          0
diastolic_bp         0
cholesterol          0
family_history       0
disease_risk         0
dtype: int64

### What is the highest and lowest daily steps?

In [9]:
# Highest daily steps
highest_steps = data['daily_steps'].max()
print("Highest daily steps:", highest_steps)


# Lowest daily steps
lowest_steps = data['daily_steps'].min()
print("Lowest daily steps:", lowest_steps)

Highest daily steps: 19999
Lowest daily steps: 1000

In [10]:
# Finding the full details of the highest and lowest daily steps
highest_steps_

NameError: name 'highest_' is not defined