In [1]:
import pandas as pd

In [2]:
# 2 main datatypes
series = pd.Series(["BMW", "Toyota", "Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
# series = 1-dimensional

In [5]:
colours = pd.Series(["Red","Yellow", "White"])
colours

0       Red
1    Yellow
2     White
dtype: object

In [6]:
# DataFrame = 2-dimensional

In [7]:
car_data = pd.DataFrame({"Car make": series, "Colour": colours})
car_data

  Car make  Colour
0      BMW     Red
1   Toyota  Yellow
2    Honda   White

In [63]:
 # Import data
car_sales = pd.read_csv("../car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors        Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [ ]:
# Exporting data
car_sales.to_csv("exported-car-sales.csv", index=False)

exported_sales = pd.read_csv("exported-car-sales.csv")
exported_sales

## Describe data

In [ ]:
# Attribute
car_sales.dtypes

In [ ]:
car_columns = car_sales.columns
car_columns

In [ ]:
car_sales.describe()

In [ ]:
car_sales.info()

In [ ]:
car_sales.sum()

In [ ]:
car_sales["Doors"].sum()

In [ ]:
car_sales["Doors"].mean()

In [ ]:
car_sales["Doors"].median()

In [ ]:
car_sales["Doors"].std()

## Viewing and selecting data

In [ ]:
car_sales.head()

In [ ]:
car_sales

In [ ]:
pd.crosstab(car_sales["Make"], car_sales["Doors"])

In [ ]:
# Groupby
car_sales.groupby(["Make"]).mean(numeric_only=True)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
car_sales["Odometer (KM)"].plot()

In [ ]:
car_sales["Odometer (KM)"].hist()

In [ ]:
car_sales

## Manipulating Data

In [ ]:
car_sales["Make"].str.lower()

In [ ]:
car_sales["Make"] = car_sales["Make"].str.lower()  # converts the data in "Make" column to lowercase

In [ ]:
car_sales

In [64]:
car_sales["Price"] = car_sales["Price"].replace('[$,]', '', regex=True).astype(float).astype(int)

In [65]:
car_sales["Price"]

0     4000
1     5000
2     7000
3    22000
4     3500
5     4500
6     7500
7     7000
8     6250
9     9700
Name: Price, dtype: int32

In [ ]:
car_sales

In [ ]:
car_sales_missing = pd.read_csv("car-sales-missing-data.csv")
car_sales_missing

In [ ]:
car_sales_missing["Odometer"].mean()

In [ ]:
# car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean(), inplace=True)

In [ ]:
car_sales_missing = pd.read_csv("car-sales-missing-data.csv")
car_sales_missing

In [ ]:
car_sales_missing_dropped = car_sales_missing.dropna()
car_sales_missing_dropped

In [ ]:
car_sales_missing_dropped.to_csv("car-sales-missing-dropped.csv")

In [ ]:
car_sales

In [ ]:
# Column from series
# series_column = pd.Series([5,5,5,5,5])

# New column called Seats
car_sales["Seats"] = pd.Series([5,5,5,5,5])
car_sales

In [ ]:
car_sales["Seats"].fillna(5, inplace=False)

In [ ]:
# Column from Python list
fuel_economy = [4.5, 5.6, 4.6, 2.7, 8.7, 6.5, 7.6, 5.3, 8.9, 9.3]
car_sales["Fuel per 100KM"] = fuel_economy
car_sales

In [ ]:
car_sales["Age of Car"] = pd.Series([12, 8, 4, 9, 5])
car_sales

In [ ]:
driver_age = [32, 34, 33, 23, 19, 17, 20, 22, 21, 60]
car_sales["Driver's Age"] = driver_age

In [ ]:
car_sales

In [ ]:
car_sales["Total fuel used (L)"] = car_sales["Odometer (KM)"]/100 * car_sales["Fuel per 100KM"]
car_sales

In [ ]:
# Creaate a column from a single value
car_sales["Number of wheels"] = 4
car_sales

In [ ]:
car_sales["Passed road safety"] = True
car_sales

In [ ]:
car_sales.sample(frac=1)

In [ ]:
car_sales_shuffled = car_sales.sample(frac=1)

In [ ]:
car_sales_shuffled

In [ ]:
# Only select 20% of data
car_sales_shuffled.sample(frac=0.2)

In [ ]:
car_sales_shuffled

In [ ]:
car_sales_shuffled.reset_index()

In [ ]:
car_sales_shuffled.reset_index(drop=True, inplace=True)
car_sales_shuffled

In [ ]:
car_sales.reset_index(drop=True, inplace=True)
car_sales

In [ ]:
# Convert Odometer (KM) to miles
car_sales["Odometer (Mles)"] = car_sales["Odometer (KM)"].apply(lambda x:x/1.6)
car_sales

In [ ]:
car_sales = car_sales.drop(["Odometer (Mles)", "Odometer (Mis)"], axis=1)
car_sales