# Introduction to Data Science and Machine Learning

In [8]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv("./Nigerian_Car_Prices.csv")
df.head()

,Unnamed: 0,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price,Build
0,0,Toyota,2007.0,Nigerian Used,166418.0,2400.0,Petrol,Automatic,"3,120,000",NaN
1,1,Lexus,NaN,NaN,138024.0,NaN,NaN,Automatic,"5,834,000",NaN
2,2,Mercedes-Benz,2008.0,Nigerian Used,376807.0,3000.0,Petrol,Automatic,"3,640,000",NaN
3,3,Lexus,NaN,NaN,213362.0,NaN,NaN,Automatic,"3,594,000",NaN
4,4,Mercedes-Benz,NaN,NaN,106199.0,NaN,NaN,Automatic,"8,410,000",NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095 entries, 0 to 4094
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           4095 non-null   int64
 1   Make                 4095 non-null   object
 2   Year of manufacture  3617 non-null   float64
 3   Condition            3616 non-null   object
 4   Mileage              4024 non-null   float64
 5   Engine Size          3584 non-null   float64
 6   Fuel                 3607 non-null   object
 7   Transmission         4075 non-null   object
 8   Price                4095 non-null   object
 9   Build                1127 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 320.1+ KB

### Missing Values

In [20]:
missing_percentage = df.isnull().sum() / len(df) * 100
missing_percentage

Unnamed: 0              0.000000
Make                    0.000000
Year of manufacture    11.672772
Condition              11.697192
Mileage                 1.733822
Engine Size            12.478632
Fuel                   11.916972
Transmission            0.488400
Price                   0.000000
Build                  72.478632
dtype: float64

In [22]:
df['Build'].unique()

array([nan, 'SUV'], dtype=object)

In [29]:
# Dropping column

df.drop(columns=['Build'], inplace=True)
df

KeyError: "['Build'] not found in axis"